.thumbnail {
  background: #eee;
  border-radius: 50%;
  overflow: hidden;

  img {
    transform: scale(1.05);
    padding: 0;
    margin: 0;
    border: none;
  }

  &--loaded img {
    animation: pulse-effect 0.5s ease-in-out;
  }
}
