.user-profile {
  color: white;
  background: #5253B9;
  width: 242px;
  margin-top: 35px;
  padding-bottom: 27px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &__name {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  &__login {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
  }

  &__avatar {
    width: 160px;
    height: 160px;
    border: none;
    margin-bottom: 15px;
    border-radius: 50%;
  }

  &__hero {
    text-align: center;
    background: rgba(0, 0, 0, 0.09);
    padding: 21px 0 21px 0;
  }

  &__bio {
    letter-spacing: 0.5px;
    line-height: 18px;
    margin: 32px 0;
  }

  &__section {
    display: flex;
    align-items: center;
    margin-left: 10px;

    svg {
      margin-right: 8px;
    }
  }

  &__bio,
  &__section {
    font-size: 14px;
    font-weight: 100;
  }

  &__info {
    padding: 0 16px;
  }
}
