
.github-button {
  display: flex;
  font-family: roboto;
  align-items: center;
  color: #fff;
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
  position: relative;
  padding-left: 44px;
  text-align: left;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  vertical-align: middle;
  font-weight: 300;
  text-decoration: none;

  &__github-icon {
    width: 30px;
    height: 30px;
    fill: white;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid black;
  }
}
