.alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  height: 49px;
  padding: 0 20px;
  background: #23245C;
  bottom: 32px;
  left: 32px;
  box-shadow: rgba(0, 0, 0, 0.9) 2px 2px 10px;
  animation: scale-pulse-effect 0.5s ease-in-out;

  a {
    margin-left: 15px;
    opacity: 0.4;
  }
}
