.home {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__logo {
    margin-bottom: 54px;
  }

  &__github-button {
    margin-top: 20px;
  }
}
