.search-results {
  &__header {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 46px;
  }

  &__logo {
    flex-grow: 0;
  }

  &__input-search {
    flex-grow: 1;
  }

  &__content {
    display: flex;
    width: auto;
    margin: 0 auto;
    align-items: flex-start;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;

    &--loaded {
      opacity: 1;
    }
  }

  &__error {
    width: 100%;
    margin-top: 100px;
    font-weight: 100;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: #4F4F4F;
  }
}
