.input-search {

  &--small {
    display: flex;
    border-bottom: 1px solid #BABABA;
    margin: 0 32px 0 46px;

    > input {
      height: 27px;
    }
  }

  &--large {
    width: 877px;
    height: 91px;
    padding: 0;
    padding-right: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

    > input {
      margin: 34px;
    }
  }

  &__input {
    display: flex;
    border: 0;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: none;
    width: 100%;
    color: #4F4F4F;
  }

  &__search-icon {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--error {
    border-color: red;
    > input::placeholder {
      color: red;
    }
  }
}
