body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@keyframes pulse-effect {
  0%   { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes scale-pulse-effect {
  0%   { transform: scale(0.5); }
  50%   { transform: scale(1.2); }
  100% { transform: scale(1); }
}
