.star-button {
  border: 2px solid #5152B7;
  width: 91px;
  height: 43px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #5152B7;
  cursor: pointer;

  &--starred {
    background: #5152B7;
    color: white;
  }

  &--loading {
    opacity: 0.5;
  }
}
