

.repository {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4F4F4F;
  padding: 27px 31px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 33px;
  width: calc(100% - 64px);

  &__star {
    display: flex;
    align-items: center;
    font-size: 16px;

    span {
      animation: scale-pulse-effect 0.5s ease-in-out;
    }

    svg {
      margin-top: -2px;
      margin-right: 5px;
    }
  }

  &__right {
    margin-left: 20px;
    animation: scale-pulse-effect 0.5s ease-in-out;
  }

  &__repo-name {
    margin: 0px 0px 10px 0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
  }

  &__description {
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0px 10px 0;
  }
}
