.repositories {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 32px;
  position: relative;
  width: calc(100% - 242px);
  margin-bottom: 100px;
  min-height: 535px;
}
